{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
all_news
{% endblock title %}

{% block content %}
<h1>Все новости и статьи</h1>
<h3>{{ all_news|length }}</h3>

<hr>

    {% if perms.Composition.news_create %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
    {% endif %}

    {% if perms.Composition.article_create %}
    <a href="{% url 'article_create' %}">Добавить статью</a>
    {% endif %}


   {% if all_news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Автор</td>
               <td>Категория</td>
               <td>Содержание</td>

               {% if perms.Composition.news_update or perms.Composition.article_delete or perms.Composition.news_delete or perms.Composition.article_delete  %}
               <td>Действия</td>
               {% endif %}


           </tr>

           {% for news in all_news %}
           <tr>
               <td>{{ news.title|censor }}</td>
               <td>{{ news.addTime|date:'d M Y'}}</td>
               <td>{{ news.author }}</td>
                <td>{% for cat in news.postCategory.all %}
                    {{ cat.categoryName }}
                     {% endfor %}
                </td>
               <td>
                    {% if perms.Composition.news_update %}
                    <a href="{% url 'news_update' pk=news.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.Composition.article_update %}
                    <a href="{% url 'article_update' pk=news.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.Composition.news_delete %}
                    <a href="{% url 'news_delete' pk=news.id %}">Удалить</a>
                    {% endif %}
                    {% if perms.Composition.article_delete %}
                    <a href="{% url 'article_delete' pk=news.id %}">Удалить</a>
                    {% endif %}
                </td>
               <td>{{ news.content|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей и новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}

       <a href="?{% url_replace page=1 %}" >1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}